﻿@page
@using WebApplication13.Models;
@model WebApplication13.Pages.ProductModel
@{
}

<table class="table">
	<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				Name
			</th>
			<th>
				Price
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach(Product product in Model.Products)
		{
			<tr>
				<td>
					@product.ID
				</td>
				<td>
					@product.Name
				</td>
				<td>
					@product.Price$
				</td>
			</tr>
		}
	</tbody>
</table>
