﻿@page
@model WebApplication13.Pages.WeatherModel
@{
}

<form method="post">
	<label for="region" style="font-size:16px">Enter region</label>
	<input name="region" style="border:1px solid gray; border-radius:5px; font-size:16px; padding:5px 10px">
	<button type="submit" style="border:none; background-color:green; color:white;font-size:16px;border-radius:5px">Submit</button>
</form>

@if (Model.Weather!=null)
{
	<table class="table">
		<thead>
			<tr>
				<th colspan="2">
					Weather information
				</th>
			</tr>
	
		</thead>
		<tbody>
			<tr>
				<td>
					Temperature
				</td>
				<td>
					@Model?.Weather.Temp
				</td>
			</tr>
			<tr>
				<td>
					Feels like
				</td>
				<td>
					@Model?.Weather.FeelsLike
				</td>
			</tr>
			<tr>
				<td>
					Temperature minimum
				</td>
				<td>
					@Model?.Weather.TempMin
				</td>
			</tr>
			<tr>
				<td>
					Temperature maximum
				</td>
				<td>
					@Model?.Weather.TempMax
				</td>
			</tr>
			<tr>
				<td>
					Pressure
				</td>
				<td>
					@Model?.Weather.Pressure
				</td>
			</tr>
			<tr>
				<td>
					Humidity
				</td>
				<td>
					@Model?.Weather.Humidity
				</td>
			</tr>
		</tbody>
	</table>
}

